:root {
    --bg-color: #131B2D;
    --text-primary: #E5E5E5;
    --accent-color: #FFC300;
    --card-bg: #1C243B;
    --shadow-color: rgba(255, 195, 0, 0.5);
    --font-mono: "IBM Plex Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-mono);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-primary);
    line-height: 1.6;
}

.container {
    padding: 10px 10%;
}

#header {
    width: 98%;
    min-height: 35vh;
    margin: 30px auto;
    transition: box-shadow 0.3s;
    padding-top: 20px;
}

#header:hover {
    border-radius: 15px; 
    box-shadow: 0 0 10px 3px var(--shadow-color);
}

.nav {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    margin: 0; 
}

.title {
    padding: 10px;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    color: var(--accent-color);
}

.title:hover {
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 0 5px 2px var(--shadow-color);
}

#sidemenu {
    transition: box-shadow 0.3s;
    padding: 10px 0;
}

#sidemenu:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px; 
}

nav ul li a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px; 
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 5%; 
    font-size: 20px;
}

.header-text h1 {
    font-size: 56px; 
    margin-top: 15px;
}

.header-text h1 span {
    color: var(--accent-color); 
}

.subtitle {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 20px;
    width: fit-content;
    padding: 5px;
    transition: box-shadow 0.3s, border-radius 0.3s;
}

.subtitle:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
    border-radius: 5px;
}

.about, .project, .contact {
    margin-top: 0;
    margin-bottom: 30px;
}


#about {
    padding: 80px 0;
    color: var(--text-primary);
}

.row {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px; 
}

.define-me {
    padding: 0; 
    color: var(--text-primary);
}

.define-me:hover {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--shadow-color);
    padding: 10px;
}

.tab-title {
    display: flex;
    margin: 30px 0 30px;
}

.tab-links {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--text-primary);
    transition: color 0.3s;
}

.tab-links:hover {
    color: var(--accent-color);
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--accent-color);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.tab-links.active-link {
    color: var(--accent-color);
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 12px 0;
}

.tab-contents ul li span {
    color: var(--accent-color);
    font-size: 18px;
    display: inline-block;
    min-width: 150px; 
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#services {
    padding: 50px 0;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjusted min width */
    grid-gap: 30px; 
    margin-top: 40px;
}

.service-list div {
    background: var(--card-bg);
    padding: 30px;
    font-size: 14px;
    border-radius: 8px;
    transition: background 0.5s, transform 0.5s, box-shadow 0.5s;
    text-align: center; 
}

.service-list div i {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.service-list div h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a {
    text-decoration: none;
    color: var(--accent-color); 
    font-size: 14px;
    margin-top: 15px;
    display: inline-block;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 2px;
}

.service-list div:hover {
    background: #252525; 
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5), 0 0 10px 1px var(--shadow-color);
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-top: 40px;
    gap: 20px;
}

.work {
    background: var(--card-bg);
    color: var(--text-primary);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    height: 120px; 
    width: 300px; 
    text-align: center;
    transition: transform 0.3s;
}

.work h3 {
    padding-top: 40px;
    font-size: 20px;
}

.layer {
    color: var(--text-primary);
    width: 100%;
    height: 0;
    background: rgba(0, 188, 212, 0.9); 
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.layer a {
    margin-top: 15px;
    color: var(--accent-color);
    font-size: 18px;
    background-color: var(--text-primary);
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--accent-color);
    padding: 12px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-primary);
    transition: background 0.5s, color 0.5s;
}

.btn:hover {
    background: var(--accent-color);
    color: var(--bg-color);
}


#contact {
    padding: 50px 0;
}

.contact-left {
    flex-basis: 40%;
}

.contact-right {
    flex-basis: 55%;
}

.contact-left p {
    margin-top: 25px;
    color: var(--text-primary);
}

.contact-left p i {
    color: var(--accent-color);
    margin-right: 15px;
    font-size: 20px;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-primary);
    transition: transform 0.5s, color 0.5s;
}

.social-icon a:hover {
    color: var(--accent-color);
    transform: translateY(-3px);
}

.btn.btn-2 {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: 1px solid var(--accent-color);
    margin-top: 30px;
}

.btn.btn-2:hover {
    background: none;
    color: var(--accent-color);
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--card-bg);
    padding: 15px;
    margin: 10px 0;
    color: var(--text-primary);
    font-size: 16px;
    border-radius: 4px;
}

form .btn-2 {
    padding: 12px 30px;
    font-size: 16px;
    margin-top: 20px;
}

#msg {
    color: var(--accent-color);
    margin-top: 10px;
    display: block;
    font-weight: 500;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #1e1e1e;
    font-weight: 300;
    margin-top: 50px;
    font-size: 14px;
}

.copyright i {
    color: var(--accent-color);
}


nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px 5%;
    }

    .header-text {
        margin-top: 15%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 40px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        z-index: 2;
    }

    nav ul {
        background: var(--card-bg); 
        position: fixed;
        top: 0;
        right: -250px; 
        width: 250px;
        height: 100vh;
        padding-top: 60px;
        z-index: 1;
        transition: right 0.5s;
        display: block;
    }

    nav ul li {
        margin: 25px;
        display: block;
    }

    nav ul li a {
        color: var(--text-primary);
    }

    .fa-solid.fa-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        color: var(--accent-color);
    }

    .subtitle {
        font-size: 36px;
    }

    .row {
        display: block;
    }
    
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    
    .contact-left {
        margin-bottom: 40px;
    }

    .work {
        width: 100%;
        margin: 10px 0;
    }
}